h1 {
    font-family: Verdana;
    font-size: 35px;
    text-align: center;
    color: green;
}

h2 {
    font-family: "Times New Roman", serif, Verdana;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: "Times New Roman", serif, Verdana;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: "Times New Roman", serif, Verdana;
    font-size: 25px;
}
.subtitle{
    font-family: "Times New Roman", serif, Verdana;
    font-size: 25px;
    font-weight: bold;
}
.menu{
    font-family: "Times New Roman", serif, Verdana;
    font-size: 25px;
    text-align: center;
}
.icon{
    width: 20px;
    height: 20px;
}
.video{
    
}
.portret{
    width: 250px;
    height: 300px;
}
footer{
    background-color: green;
}
table{
    border: solid black 1px;
}